# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/

# Django
db.sqlite3
media/

# OS
.DS_Store
Thumbs.db
.env



# Django collected static files
staticfiles/
media/
__pycache__/
*.pyc
db.sqlite3
.env